{#<body>#}
{#<div class="container">#}
{#    <div id="loader" style="display:none;"></div>#}
{##}
{#    <div class="input_block">#}
{#        <div class="clusterization-title">Кластеризация</div>#}
{#        <div class="clusterization-inputs">#}
{##}
{#            <label for="weight_distance" title="вес расстояния для метрики DBSCAN" class="clusterization-label">weight_distance</label>#}
{#            <input type="number" min="0" step="0.1" required value="{{ clustering_params['weight_distance'] }}"#}
{#                   id="weight_distance" class="clusterization-input"/>#}
{##}
{#            <label for="weight_speed" title="вес скорости для метрики DBSCAN"#}
{#                   class="clusterization-label">weight_speed</label>#}
{#            <input type="number" min="0" step="0.1" required value="{{ clustering_params['weight_speed'] }}"#}
{#                   id="weight_speed"#}
{#                   class="clusterization-input"/>#}
{##}
{#            <label for="weight_course" title="вес курса для метрики DBSCAN"#}
{#                   class="clusterization-label">weight_course</label>#}
{#            <input type="number" min="0" step="0.1" required value="{{ clustering_params['weight_course'] }}"#}
{#                   id="weight_course"#}
{#                   class="clusterization-input"/>#}
{##}
{#            <label for="eps"#}
{#                   title="максимальное расстояние (по метрике) между объектами для признания их соседними в алгоритме DBSCAN"#}
{#                   class="clusterization-label">eps</label>#}
{#            <input type="number" min="0" step="0.001" required value="{{ clustering_params['eps'] }}" id="eps"#}
{#                   class="clusterization-input"/>#}
{##}
{#            <label for="min_samples"#}
{#                   title="минимальное число соседей, необходимое для признания объекта ядровым в алгоритме DBSCAN"#}
{#                   class="clusterization-label">min_samples</label>#}
{#            <input type="number" min="0" required value="{{ clustering_params['min_samples'] }}" id="min_samples"#}
{#                   class="clusterization-input"/>#}
{##}
{#            <label for="metric_degree" title="степень метрики для алгоритма DBSCAN" class="clusterization-label">metric_degree</label>#}
{#            <input type="number" step="0.1" required value="{{ clustering_params['metric_degree'] }}" id="metric_degree"#}
{#                   min="1" class="clusterization-input"/>#}
{##}
{#            <label for="hull_type" title="форма оболочки для полигонов (convex - выпуклая, concave - вогнутая)"#}
{#                   class="clusterization-label">hull_type</label>#}
{#            <select id="hull_type" name="hull_type" class="clusterization-input">#}
{#                <option value="convex_hull" {% if clustering_params['hull_type']=='convex_hull' %}#}
{#                        selected {% endif %}>convex#}
{#                </option>#}
{#                <option value="concave_hull" {% if clustering_params['hull_type']=='concave_hull' %}#}
{#                        selected {% endif %}>concave#}
{#                </option>#}
{#            </select>#}
{##}
{#        </div>#}
{#        <div class="buttons">#}
{#            <button type="submit" id="do_cluster" class="red_text" style="cursor: pointer " onclick="Do_clustering()">#}
{#                Кластеризовать данные и выделить полигоны#}
{#            </button>#}
{#        </div>#}
{##}
{#        <div class="route-title" style="margin-top: 30px;">Планирование маршрута</div>#}
{##}
{#        <div class="route-inputs">#}
{##}
{#            <label for="points_inside" title="добавление точек внутрь пересечений полигонов"#}
{#                   class="route-label">points_inside</label>#}
{#            <input type="checkbox" style="height: 15px;" class="route-input" id="points_inside"#}
{#                   name="points_inside" {% if graph_params['points_inside']==True %} checked {% endif %}/>#}
{##}
{#            <label for="distance_delta" title="расстояние между генерируемыми точками в пересечениях полигонов"#}
{#                   class="route-label">distance_delta</label>#}
{#            <input type="number" min="0" step="0.1" required value="{{ graph_params['distance_delta'] }}"#}
{#                   id="distance_delta"#}
{#                   class="route-input"/>#}
{##}
{#            <label for="angle_of_vision"#}
{#                   title="угол обзора для узла, в пределах которого возможно добавить ребра в граф" class="route-label">angle_of_vision</label>#}
{#            <input type="number" min="0" step="0.1" required value="{{ graph_params['angle_of_vision'] }}"#}
{#                   id="angle_of_vision"#}
{#                   class="route-input"/>#}
{##}
{#            <label for="weight_func_degree" title="степень весовой функции ребра графа" class="clusterization-label">weight_func_degree</label>#}
{#            <input type="number" step="1" required value="{{ graph_params['weight_func_degree'] }}"#}
{#                   id="weight_func_degree" min="1" class="clusterization-input"/>#}
{##}
{#            <label for="weight_time_graph" title="вес времени прохождения для ребер графа" class="route-label">weight_time_graph</label>#}
{#            <input type="number" min="0" step="0.1" required value="{{ graph_params['weight_time_graph'] }}"#}
{#                   id="weight_time_graph" class="route-input"/>#}
{##}
{#            <label for="weight_course_graph" title="вес соответствия направления среднекластерному для ребер графа "#}
{#                   class="route-label">weight_course_graph</label>#}
{#            <input type="number" min="0" step="0.01" required value="{{ graph_params['weight_course_graph'] }}"#}
{#                   id="weight_course_graph" class="route-input"/>#}
{##}
{#            <label for="search_algorithm" title="алгоритм поиска по графу" class="route-label">#}
{#                search_algorithm</label>#}
{#            <select id="search_algorithm" name="search_algorithm" class="route-input">#}
{#                <option value="Dijkstra" {% if graph_params['search_algorithm']=='Dijkstra' %}#}
{#                        selected {% endif %}>Dijkstra#}
{#                </option>#}
{#                <option value="A*" {% if graph_params['search_algorithm']=='A*' %}#}
{#                        selected {% endif %}>A*#}
{#                </option>#}
{#            </select>#}
{##}
{#            <label for="start_coords" title="начальная точка маршрута" class="route-label">start_coords</label>#}
{#            <input style="cursor: pointer;" type="text" id="start_coords" readonly required#}
{#                   placeholder="Выбрать на карте"#}
{#                   class="route-input"/>#}
{##}
{#            <label for="end_coords" title="конечная точка маршрута" class="route-label">end_coords</label>#}
{#            <input style="cursor: pointer;" type="text" id="end_coords" readonly required placeholder="Выбрать на карте"#}
{#                   class="route-input"/>#}
{##}
{#        </div>#}
{##}
{#        <div class="buttons">#}
{#            <button type="submit" id="do_graph" onclick="Create_graph()">#}
{#                Построить граф и спланировать маршрут#}
{#            </button>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="map_block">#}
{#        <div id="map" class="map"></div>#}
{#        <div id="legend" class="hide">#}
{#            <div>Сначала необходимо кластеризовать#}
{#                данные!#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#</body>#}